SUPABASE_DB_URL=postgresql://username:password@host:6543/postgres
FRONTEND_ORIGINS=https://meetings-ecru.vercel.app
FRONTEND_APP_URL=https://meetings-ecru.vercel.app
PORT=10000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://meetings-vr93.onrender.com/auth/google/callback


